<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>596857510694-ag326u7fmk0v7fjtbvqlodb021a5ckq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596857510694-ag326u7fmk0v7fjtbvqlodb021a5ckq7</string>
	<key>API_KEY</key>
	<string>AIzaSyBq0BVuB-oPcVkxESrTFho6nIkKe856Efc</string>
	<key>GCM_SENDER_ID</key>
	<string>596857510694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathanglover.agridex</string>
	<key>PROJECT_ID</key>
	<string>agri-dex</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-dex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596857510694:ios:f86e90429aa3b1b7</string>
	<key>DATABASE_URL</key>
	<string>https://agri-dex.firebaseio.com</string>
</dict>
</plist>